  body {
      margin: 0;
      font-family: Arial, sans-serif;
      display: flex;
    }

    .sidebar {
      width: 200px;
      background-color: #FFF6E2;
      color: rgb(0, 0, 0);
      height: 100vh;
      padding: 20px;
      box-sizing: border-box;
    }

    .sidebar h2 {
      margin-top: 0;
    }

    .sidebar a {
      display: block;
      color: rgb(0, 0, 0);
      text-decoration: none;
      text-align: left;
      padding: 10px 0;
      font-family:"Kantumruy Pro", sans-serif;
    }

    .sidebar a:hover {
      background-color: #f1e0b7;
    }

    .main-content {
      flex: 1;
      padding: 20px;
    }

     iconify-icon {
      font-size: 24px;
      vertical-align: middle;
      margin-right: 8px;
    }


    .kantumruy-pro{
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Card Container */
.card-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

/* Individual Card Styling */
.card-totalusers{
  background-color: #FED16A;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  height: 85px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-totaltickets {
  background-color: #FF9733;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  height: 85px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-resolvedissues {
  background-color: #476E4E;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  height: 85px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* Hover effect for floating feel */
.card-totalusers:hover,
.card-totaltickets:hover,
.card-resolvedissues:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.card-totalusers h3,
.card-totaltickets h3,
.card-resolvedissues h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 40px;
  margin-left: 10px;
  color: #ffffff;

}

.card-totalusers p,
.card-totaltickets p,
.card-resolvedissues p {
  margin-top: 30px;
  color: #ffffff;
  text-align: right;
  font-weight: 500;  
  font-family:"Kantumruy Pro", sans-serif;
  font-size: 20px;
}

h1{
  text-align: left;
}

.card{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  height: 100px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}